/* .nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#E1ECF4;
    padding: 10px;
    margin: 0 auto;
    height: 30px;
}
  
a {
text-decoration: none;
color: #272B34;
}

a:visited {
color: #272B34;
} */

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    width: 100%;
    font-family: 'Gruppo';
    font-size: 15px;
    color: black;
    justify-content: space-evenly;
}

ul a {
    display: inline;
    padding-top: 15px;
    font-size: 12px;
    color: gray;
    font-family: 'Orbitron';
    /* font-weight: bold; */
}

.nav-left {
    display: flex;
    float: left;
    align-items: flex-start;
    color: black;
    justify-content: space-evenly;

}

.nav-right {
    display: flex;
    float: right;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* justify-content: space-evenly; */

    
    padding-right: 100px;
} 

